
@{
    ViewBag.Title = "BlueDancers";
    int counter = 0;
}
<script>
    $(document).ready(function () {
        $("#excelButton").click(function (event) {
            var date = $("#theCalendar").val();
            window.location.href = '@Url.Action("ConvertToExcel","Report")?whichReport=1'
        });
    });
</script>

<h2>BlueDancers</h2>
@Html.ActionLink("Return To Home", "Index", "Home")<br />
<a id="excelButton">Export To Excel</a>

<table width="100%" border="1">
    <tr><th>Name</th><th>Level</th></tr>
    @foreach(OKSwingMemberList mem in ViewBag.BlueDancers)
    {
        <tr><td>@mem.LastName, @mem.FirstName</td><td>BLUE</td></tr>
        counter++;
    }
    <tr><td>Total Number Of Dancers:</td><td>@counter</td></tr>
</table>

