
@{
    ViewBag.Title = "CompleteMemberList";
}
<script>
    $(document).ready(function () {
        $("#excelButton").click(function (event) {
            var date = $("#theCalendar").val();
            window.location.href = '@Url.Action("ConvertToExcel","Report")?whichReport=2'
        });
    });
</script>

<h2>CompleteMemberList</h2>
@Html.ActionLink("Return To Home","Index","Home")<br />
<a id="excelButton">Export To Excel</a>

<table width="100%" border="1">
    <tr><th>Name</th><th>Address</th><th>Home Phone</th><th>Email</th><th>Date Joined</th></tr>
    @foreach(var mem in ViewBag.CompleteMemberList)
    {
        <tr><td>@mem.LastName, @mem.FirstName</td><td>@mem.Address, @mem.City, @mem.State, @mem.Zip</td><td>@mem.HomePhone</td><td>@mem.EmailAddress</td><td>@mem.DateJoined</td></tr>
    }
</table>

