
@{
    ViewBag.Title = "ExpiredMembers";
}
<script>
    $(document).ready(function () {
        $("#excelButton").click(function (event) {
            var date = $("#theCalendar").val();
            window.location.href = '@Url.Action("ConvertToExcel","Report")?whichReport=7'
        });
    });
</script>

<h2>ExpiredMembers</h2>
@Html.ActionLink("Return To Home", "Index", "Home")<br />
<a id="excelButton">Export To Excel</a>

<table width="100%" border="1">
    <tr><th>Name</th><th>Expired On</th><th>Email To Contact</th></tr>
    @foreach(OKSwingMemberList mem in ViewBag.ExpiredMembers)
    {
        <tr><td>@mem.LastName, @mem.FirstName</td><td>@mem.Anniversary.Value.ToShortDateString()</td><td>@mem.EmailAddress</td></tr>
    }
</table>

