
@{
    ViewBag.Title = "MissingInAction";
}

<h2>MissingInAction</h2>
@Html.ActionLink("Return To Home", "Index", "Home")

<table width="100%" border="1">
    <tr><th>Missing In Action</th></tr>
    <tr><th>Name</th><th>Last Recorded Activity Date</th><th>Email</th><th>Address</th></tr>
    @foreach (OKSwingMemberList mem in ViewBag.MissingInAction)
    {
        <tr><td>@mem.LastName, @mem.FirstName</td><td>@mem.Dateadded</td><td>@mem.EmailAddress</td><td>@mem.Address,@mem.City,@mem.State,@mem.Zip</td></tr>
    }
</table>

