
@{
    ViewBag.Title = "NonReturningMembers";
}
<script>
    $(document).ready(function () {
        $("#theCalendar").datepicker({
            changeMonth: true,
            changeYear: true,
            minDate: new Date(2000, 1 - 1, 1),
            maxDate: "+1Y"
        });
        $("#loadingImage").hide();
        $("#theCalendar").change(function (event) {
            $.ajax({
                url: "/Report/NonReturningMembers",
                type: 'POST',
                data: { startDate: $("#theCalendar").val() },
                dataType: 'json',
                success: function (data) {
                    var theData = data.NonReturningMembers;
                    $(".firstTable").empty();
                    $(".firstTable").append("<tr><th>Name</th><th>Home Phone</th><th>Address</th></tr>");
                    for (var i = 0; i < theData.length; i++)
                    {
                        $(".firstTable").append("<tr><td>" + theData[i].LastName + ", " + theData[i].FirstName + "</td><td>" + theData[i].HomePhone + "</td><td>" + theData[i].Address + "," + theData[i].City + "," + theData[i].State + "," + theData[i].Zip + "</td></tr>");
                    }
                },
                error: function (ex) {
                    alert("Something Went Wrong.");
                }
            });
        });
        $(document).ajaxStart(function () { $("#loadingImage").show(); })
        $(document).ajaxStop(function () { $("#loadingImage").hide(); })
    });
</script>

<h2>NonReturningMembers</h2>
@Html.ActionLink("Return To Home", "Index", "Home")
<p>Date: <input type="text" id="theCalendar" /></p>
<img src="~/Pictures/gears.gif" id="loadingImage" />

<table width="100%" border="1" class="firstTable">
    <tr><th>Name</th><th>Home Phone</th><th>Address</th></tr>
    @foreach (OKSwingMemberList mem in ViewBag.NonReturningMembers)
    {
        <tr><td>@mem.LastName, @mem.FirstName</td><td>@mem.HomePhone</td><td>@mem.Address, @mem.City, @mem.State, @mem.Zip</td></tr>
    }
</table>
