
@{
    ViewBag.Title = "ThreeYearSales";
}

<script>
    $(document).ready(function () {
        $("#theCalendar").datepicker({
            changeMonth: true,
            changeYear: true,
            minDate: new Date(2000, 1 - 1, 1),
            maxDate: "+1Y"
        });
        $("#loadingImage").hide();
        $("#theCalendar").change(function (event) {
            $.ajax({
                url: "/Report/ThreeYearSales",
                type: 'POST',
                data: { startDate: $("#theCalendar").val() },
                dataType: 'json',
                success: function (data) {
                    var theData = data;
                    $(".firstTable").empty();
                    $(".firstTable").append("<TR><TH>Name</TH><TH>Amount Paid</TH><TH>Payment Description</TH><TH>Date Created</TH></TR>");
                    for (var i = 0; i < theData.length; i++)
                    {
                        var dateString = theData[i].PaidDate.substr(6);
                        var currentTime = new Date(parseInt(dateString));
                        var month = currentTime.getMonth() + 1;
                        var day = currentTime.getDate();
                        var year = currentTime.getFullYear();
                        var date = month + "/" + day + "/" + year;
                        $(".firstTable").append("<TR><TD>" + theData[i].LastName + ", " + theData[i].FirstName + "</TD><TD>$" + theData[i].PaidAmount + "</TD><TD>" + theData[i].PaidDesc + "</TD><TD>" + date + "</TD></TR>");
                    }
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
        });
        $(document).ajaxStart(function () { $("#loadingImage").show(); })
        $(document).ajaxStop(function () { $("#loadingImage").hide(); })
    });
</script>

<h2>ThreeYearSales</h2>
@Html.ActionLink("Return To Home", "Index", "Home")
<p>Date: <input type="text" id="theCalendar" /></p>
<img src="~/Pictures/gears.gif" id="loadingImage" />

<table width="100%" border="1" class="firstTable">
    <tr><th>Name</th><th>Amount Paid</th><th>Payment Description</th><th>Date Created</th></tr>
    @foreach (CheckIn mem in ViewBag.ThreeYearSales)
    {
        <tr><td>@mem.LastName, @mem.FirstName</td><td>@mem.PaidAmount.Value.ToString("C")</td><td>@mem.PaidDesc</td><td>@mem.CreateDate.ToShortDateString()</td></tr>
    }
</table>
