@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to Swing Club Check In Version 3</h2>
    @if (!User.Identity.IsAuthenticated)
    {
        <h3>Please @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) To The System.</h3>
    }
    else
    {
        <h3>Please Select a Function Below.</h3>
    }
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-4">
            <h3>Check In Functions</h3>
            @Html.ActionLink("Add a Check In Record","Index","Search")<br />
            @Html.ActionLink("Create New Dancer", "Create", "Member")<br />
        </div>
        <div class="col-md-4">
            <h3>Reports</h3>
            <a href="#">Monthly Dancers &raquo;</a><br />
            <a href="#">Dancers Currently In Lessons &raquo;</a><br />
            <a href="#">Todays Dancers &raquo;</a><br />
            <a href="#">Todays Paying Dancers &raquo;</a><br />
            <a href="#">Today's Summary &raquo;</a><br />
            <a href="#">Yearly Dues &raquo;</a><br />
            <a href="#">Year Over Year Sales</a><br />
            <a href="#">Email List &raquo;</a><br />
            <a href="#">Special Events &raquo;</a><br />
            <a href="#">Unknown Dancers &raquo;</a><br />
            <a href="#">Pink Dancers &raquo;</a><br />
            <a href="#">Purple Dancers &raquo;</a><br />
            <a href="#">Yellow Dancers &raquo;</a><br />
            <a href="#">Green Dancers &raquo;</a><br />
            <a href="#">Blue Dancers &raquo;</a><br />
            <a href="#">Teachers &raquo;</a><br />
            <a href="#">Birthdays &raquo;</a><br />
            <a href="#">Members Modified in Database &raquo;</a><br />
            <a href="#">Non Returning Members &raquo;</a><br />
            <a href="#">Missing In Action</a><br />
            <a href="#">Expiring Members &raquo;</a><br />
            <a href="#">New Dancers &raquo;</a><br />
            <a href="#">New Members &raquo;</a><br />
            <a href="#">Renewing Members &raquo;</a><br />
            <a href="#">Voided Entries &raquo;</a><br />
            <a href="#">Deleted Members &raquo;</a><br />
            <a href="#">Currently Paid Members &raquo;</a><br />
            <a href="#">Complete Member List &raquo;</a><br />
        </div>
        <div class="col-md-4">
            <h3>Administrative Functions</h3>
            @Html.ActionLink("Edit Dancer Information","Index","Search", new { whoCalled = 1 }, null)<br />
            <a href="~/Views/Search/Index/2">Edit Key Tag</a><br />
            @Html.ActionLink("Edit Merchandise","Index","Merchandise")<br />
            @Html.ActionLink("Edit Club Fees", "Index", "Fee")<br />
            @Html.ActionLink("Remove Administrators", "Index", "Admin")<br />
        </div>
    </div>
}