@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to Swing Club Check In Version 3</h2>
    @if (!User.Identity.IsAuthenticated)
    {
        <h3>Please @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) To The System.</h3>
    }
    else
    {
        <h3>Please Select a Function Below.</h3>
    }
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-4">
            <h3>Check In Functions</h3>
            @Html.ActionLink("Add a Check In Record","Index","Search")<br />
            @Html.ActionLink("Create New Dancer", "Create", "Member")<br />
        </div>
        <div class="col-md-4">
            <h3>Reports</h3>
            @Html.ActionLink("Monthly Dancers","MonthlyDancers","Report")<br />
            @Html.ActionLink("Dancers Currently In Lessons", "DancersCurrentlyInLessons", "Report")<br />
            @Html.ActionLink("Todays Dancers", "TodaysDancers", "Report")<br />
            @Html.ActionLink("Todays Paying Dancers","TodaysPayingDancers","Report")<br />
            @Html.ActionLink("Todays Summary","TodaysSummary","Report")<br />
            @Html.ActionLink("Yearly Dues","YearlyDues","Report")<br />
            @Html.ActionLink("Year Over Year Sales","YearOverYearSales","Report")<br />
            @Html.ActionLink("Email List", "EmailList", "Report")<br />
            @Html.ActionLink("Special Events","SpecialEvents","Report")<br />
            @Html.ActionLink("Unknown Dancers", "UnknownDancers","Report")<br />
            @Html.ActionLink("Pink Dancers", "PinkDancers","Report")<br />
            @Html.ActionLink("Purple Dancers", "PurpleDancers","Report")<br />
            @Html.ActionLink("Yellow Dancers", "YellowDancers", "Report")<br />
            @Html.ActionLink("Green Dancers", "GreenDancers", "Report")<br />
            @Html.ActionLink("Blue Dancers","BlueDancers","Report")<br />
            @Html.ActionLink("Teachers","Teachers","Report")<br />
            @Html.ActionLink("Birthdays","Birthdays","Report")<br />
            @Html.ActionLink("Members Modified In Database","MembersModifiedInDatabase","Report")<br />
            @Html.ActionLink("Non Returning Members","NonReturningMembers","Report")<br />
            @Html.ActionLink("Missing In Action","MissingInAction","Report")<br />
            @Html.ActionLink("Expiring Members","ExpiringMembers","Report")<br />
            @Html.ActionLink("New Dancers","NewDancers","Report")<br />
            @Html.ActionLink("New Members","NewMembers","Report")<br />
            @Html.ActionLink("Renewing Members","RenewingMembers","Report")<br />
            @Html.ActionLink("Voided Entries", "Voided Entries","Report")<br />
            @Html.ActionLink("Deleted Members","DeletedMembers","Report")<br />
            @Html.ActionLink("Currently Paid Members","CurrentlyPaidMembers","Report")<br />
            @Html.ActionLink("Complete Member List","CompleteMemberList","Report")<br />
        </div>
        <div class="col-md-4">
            <h3>Administrative Functions</h3>
            @Html.ActionLink("Edit Dancer Information","Index","Search", new { whoCalled = 1 }, null)<br />
            @Html.ActionLink("Edit Key Tag", "Index", "Search", new { whoCalled = 2 }, null)<br />
            @Html.ActionLink("Edit Merchandise","Index","Merchandise")<br />
            @Html.ActionLink("Edit Club Fees", "Index", "Fee")<br />
            @Html.ActionLink("Remove Administrators", "Index", "Admin")<br />
        </div>
    </div>
}